<% layout('layouts/boilerplate') %>
    <h1>Edit - <%=campsite.title%>
    </h1>
    <form action="/campsites/<%=campsite._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="campsite[title]" id="title" value="<%=campsite.title%>">
        </div>
        <br>
        <div>
            <label for="location">Location:</label>
            <input type="text" name="campsite[location]" id="location" value="<%=campsite.location%> ">
        </div>
        <br>
        <div>
            <label for="description">Description:</label>
            <textarea name="campsite[description]" id="description" cols="15"
                rows="5"><%=campsite.description%></textarea>
        </div>
        <br>
        <button type="submit">Edit</button>
    </form>