<% layout('layouts/boilerplate') %>

    <h1>
        <%= campsite.title %>
    </h1>
    <h1>
        <%= campsite.location %>
    </h1>
    <h1>
        <%= campsite.description %>
    </h1>

    <form action="/campsites/<%=campsite._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <footer>
        <a href="/campsites/<%=campsite._id%>/edit">Edit</a>
        <br>
        <a href="/campsites">All Campgrounds</a>
    </footer>